$background-color: #343434;
$font-color: #dfdfdf;
$headline-size: 1.5em;
$banner-height: 80px;
$corner-radius: 3px;



html {
  overflow: hidden;
  height: 100%; 
  background-color: $background-color;
}

body {
  height: 100%;
  overflow: auto; 
	background-color: $background-color;
	color: $font-color;
}

#divTrackContainer {
  height: 900px; 
  //overflow-y: scroll;
  overflow: auto;
  padding: 0 5px;
  border-right: 1px solid $font-color;
}



.eventSelector{
  height: 120px;
}

#eventNavBarCollapse, ul.nav.navbar-nav > li {
  z-Index: 1000 !important; }

#divEventBanner {
  height: $banner-height;
  z-Index: 100; 
  font-size: $headline-size;
  padding-top: 10px;

}
#eventHeadline{
	margin-top: 15px;
}
#logo{
	height: $banner-height - 10;
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/AVLRacing_Logo.png);
}

/*#divSimControlContainer {
  height: 300px; }
  */

#divTable1Container {
  overflow-x: auto;
}
  

#divTableAndSpacer {
  padding-top: 0px;
  z-index: 100;
  position: absolute;
  
}
.noSeeThrough{
    background-color: $background-color;
  }



#divTable2Container, #divSpacer {
  height: 200px; }

.divPlotContainer {
  
  height: 300px;
  display: none;
  margin-top: 20px;
  cursor: move;
  
}
.plot{
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  height: 100%;
  border-left: 1px solid $font-color;
  border-bottom: 1px solid $font-color;
  border-radius: $corner-radius;
  -moz-border-radius: $corner-radius;
  -webkit-border-radius: $corner-radius;
}

.initialPlotCont {
  display: block; }

.dropZone {
  height: 50px;
  margin-bottom: -70px;
  margin-top: 20px;
  background-color: #999;
  border: 2px dashed #555;
  color: #555;
  text-align: center; }

.navbar-toggle {
  float: left; }

#navTrackNavBar {
  margin-bottom: 0px;
  z-index: 10000; }

#divWorkspaceContainer {
  background-image: url(../images/BG_Porsche_tansparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: scroll;
  padding-top: 10px;
}

#divPlotArea {
  width: 100%; }

.addPlot, .removePlot {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.addPlot{
	margin-right: 20px;
	background-image: url(../images/AddPlot_off.png);
}
.addPlot:hover{
	background-image: url(../images/AddPlot_hover.png);
}
.removePlot{
	margin-right: 5px;
	background-image: url(../images/RemovePlot_off.png);
}
.removePlot:hover{
	background-image: url(../images/RemovePlot_hover.png);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#dummyBar {
  position: absolute;
  top: 400px;
  z-index: 10;
  background-color: #FF0F00;
  width: 100%;
  height: 200px;
  padding: 0px; }

/*# sourceMappingURL=main.css.map */
