
#divSimControlContainer .selectContain{
	height: 44px;
}

.componentCaption{
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 4px;
}
.setupSelector{
	width: 100%;
}
.selectContain, .columnCaption, .buttonContain{
	padding-left: 0px;
	padding-right: 0px;
}
button{
	width: 100%;
}

@media (max-width: 767px) { //xs
  	#divSimControlContainer .row{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {//sm
  	#divSimControlContainer .row{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {//md
	#divSimControlContainer .row{
		padding-left: 15px;
		padding-right: 15px;
	}
  
}
@media (min-width: 1200px) {//lg
	#divSimControlContainer .row{
		padding-left: 15px;
		padding-right: 15px;
	}
	.selectContain.left, .columnCaption.left{
		padding-right: 7px;
	}
	.selectContain.right, .columnCaption.right, .buttonContain{
		padding-left: 7px;
	}
	
}
